@import 'https://fonts.googleapis.com/css?family=Lato:400,700,900';
* {
  font-family: 'Lato', sans-serif;
  text-align: center;
  max-width: 100%;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

header {
  width: 960px;
  margin: 0px auto;
}

#bodyCopy {
  width: 800px;
  margin: 0px auto;
  h1 {
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 10px;
  }

  p {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 30px;
  }
}

#slideContent {
  position: relative;
  width: 980px;
  margin: 0px auto;
  margin-bottom: 20px;
  #bikersImg {
    margin: 0px;
  }

  }


  #slideSection {
    display: flex;
    flex-direction: row;
    max-width:961px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -4px;
    .flank {
      width: 37%;
      #leftPhoto {
        width: 100%;
        max-width: 210px;
        margin: auto;
      }


      #rightPhoto {
        width:100%;
        max-width: 210px;
        margin: auto;
        // max-height: 310px;
        // width: 22%;
        // float: right;
      }
    }



    #slideshow {
      z-index: 999;
      margin: -10px -10px -10px -10px;
      width: 100%;
      position: relative;

      a{
        color:#66C6E5;
      }
      img {
        margin: auto;
        display: block;
        // width: 100%;
        box-shadow: 3px 5px 5px rgba(0,0,0,0.2);

      }
      p {
        position: absolute;
        display: block;
        font-size: 14px;
        // margin: -5%;
        height: 30%;
        margin: 0 auto;
        width: 90%;
        color: white;
        padding: 0 3.5%;
        padding-top: 2%;
        left: 1.5%;
        top: 65%;
        background-color: rgba(0,0,0, 0.6);

      }
    }

  }
  .flank {
    position: relative;
    button {
      font-weight: 400;
      position: absolute;
      background: none;
      border: none;
      top: 30%;
      color: white;
      font-size: 80px;
      outline: none;
    }
    button:hover {
      color: #66C6E5;
    }
    #forward {
      right: 10%;
    }
    #back {
      left: 10%;
    }
  }
